<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!-- mapper가 여러개 일때 namespace 로 구분한다. -->
<mapper namespace="select_test01">
	<select id="ans_result" resultType="com.ict.vo.TVO">
		select count(ans) from test01 where ip = #{ip} group by ans;
	</select>
	<insert id="insert_test01" parameterType="com.ict.vo.TVO">
		insert into test01 values(test_seq.nextval,#{ip},#{exm_num},#{ans},sysdate)   
	</insert>

	<delete id="delete" parameterType="String">
		delete from guestbook where idx = #{idx}
	</delete>
	<update id="update" parameterType="com.ict.vo.TVO">
		update guestbook set name=#{name}, subject=#{subject}, content=#{content}, email=#{email} where idx=#{idx}
	</update>
	
	<select id="giveId">
		select idx from 
	</select>
	
	
</mapper>







